

<!-- Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <button type="button" class="ml-auto btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="row">
          <header class="col-12 text-center py-3">              
            <h3><%= user.username %></h3>
            <p><%= user.email %></p>
            <a href="/logout" type="button" class="btn btn-outline-secondary">
              Logout
            </a>
          </header>
        </div>
        
      </div>        
      <div class="modal-body p-5">
        <section id="favourties" class="pb-3 mb-3">
          <h4 class="h5 mb-2">Favourite Maps</h4>
          <ul id="user-maps" class="list-group">
            <% userMaps.forEach((map) => { %>
              <li class="list-group-item"><a href="?mapid=<%= map.id %>&lat=<%= map.latitude %>&long=<%= map.longitude %>&zoom=<%= map.zoom %>"><%= map.title %></a></li>
            <% }); %>
          </ul>
        </section>
        <hr>
        <section id="contrib" class="pb-3">
          <h4 class="h5 mb-2">Maps I've contributed to</h4>
          <ul id="user-maps" class="list-group">
            <% userFavs.forEach((map) => { %>
              <li class="list-group-item"><a href="?mapid=<%= map.id %>&lat=<%= map.latitude %>&long=<%= map.longitude %>&zoom=<%= map.zoom %>"><%= map.title %></a></li>
            <% }); %>
          </ul>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>