<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>

  <body>
    <%- include('partials/_header') %>

    <div id="map" class="showNav"></div>

    <%- include('partials/_footer') %>
    <%- include('sidebar') %>

    <!-- Modals -->
    <%- include('partials/_login') %>
    <% if (userid) { %>
      <%- include('user/profile') %>
      <%- include('partials/_cta-buttons') %>
    <% } %>

    <!-- Google Maps API -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy27fKunTSdnMYtm6KFFQPDYafI6VRYrw&callback=initMap&v=weekly"
        defer
      >
    </script>
  </body>
</html>
