<div id="pinsList" class="ajaxWrap">
<% if (map) { %>
  <a id="backBtnAllMap" class="btn btn-outline-secondary" href="/maps">Back</a>
  <% map.forEach((item) => { %>
    <div class="d-flex align-items-center">
      <h3 class="h6 mt-3"><%= item.title %></h3>
      <div class="ml-auto"><i class="fa-regular fa-heart text-danger"></i></div>
    </div>

    <% if(userid) { %>
      <div class="btn-group">
        <a id="newPinBtn" class="btn btn-sm btn-primary" href="/maps/<%= item.id %>/pins/new" data-mapid="<%= item.id %>">Add pin</a>
        <a id="deleteMap" class="btn btn-sm btn-primary"  href="/maps/<%= map[0].id %>/delete" data-mapid="<%= map[0].id %>">Delete</a>
        <a id="updateMap" class="btn btn-sm btn-primary" href="/maps/<%= map[0].id %>/update" type="button" data-mapid="<%= map[0].id %>">Edit</a>
      </div>
    <% } %>
  <% }); %>
  <ul class="nav flex-column">
    <% if (pins) { %>
      <% pins.forEach((pin) => { %>
        <li id="<%= pin.id %>" class="d-flex py-3">
          <img class="pe-2" width="75" height="75" src="<%= pin.image_url %>" />
          <div>
            <h6><a href="/pins/<%= pin.id %>" data-pinid="<%= pin.id %>"><%= pin.title %></a></h6>
            <p><%= pin.description %></p>
          </div>
        </li>
      <% }); %>
    <% } else { %>
      <div class="alert alert-warning">
        No pins found
      </div>
    <% } %>
  </ul>
  
<% } else { %>
  No map found
<% } %>
</div>
