<div id="pinsList">
<% if (map) { %>
  <a id="backBtnAllMap" class="btn btn-outline-secondary" href="/maps">Back</a>
  <% map.forEach((item) => { %>
    <header class="mb-3">
      <h3 class="h4 mt-3"><%= item.title %></h3>
      <% if (userid) { %>
        <div class="btn-group">
          <a id="newPinBtn" class="btn btn-sm btn-outline-dark" href="/maps/<%= item.id %>/pins/new" data-mapid="<%= item.id %>"><i class="fa-solid fa-plus"></i><span class="sr-only">Add pin</span></a>
          <a id="favouriteBtn" data-mapid="<%= item.id %>" data-uid="<%= userid %>" data-fav="<%= isFav %>" class="btn btn-sm btn-outline-dark" href=""><i class="
            <% if (isFav) { %>
              fa-solid
            <% } else { %>
              fa-regular
            <% } %> fa-heart text-danger"></i><span class="sr-only">Add map to favourites</span></a>
          <a id="updateMap" class="btn btn-sm btn-outline-dark" href="/maps/<%= map[0].id %>/update" data-mapid="<%= map[0].id %>"><i class="fa-solid fa-pen"></i><span class="sr-only">Edit</span></a>
          <a id="deleteMap" class="btn btn-sm btn-outline-dark"  href="/maps/<%= map[0].id %>/delete" data-mapid="<%= map[0].id %>"><i class="fa-solid fa-trash"></i><span class="sr-only">Delete</span></a>
        </div>
        
      <% } %>
    </header>
  <% }); %>
  <ul class="nav flex-column">
    <% if (pins) { %>
      <% pins.forEach((pin) => { %>
        <li id="<%= pin.id %>" class="d-flex py-3">
          <img class="pe-2" width="150" height="100" src="<%= pin.image_url %>" />
          <div class= "sideInfo">
            <h6><a href="/pins/<%= pin.id %>" data-pinid="<%= pin.id %>"><%= pin.title %></a></h6>
            <!-- <p><%= pin.description %></p> -->
          </div>
        </li>
      <% }); %>
    <% } else { %>
      <div class="alert alert-warning">
        No pins found.
      </div>
    <% } %>
  </ul>

<% } else { %>
  No map found
<% } %>
</div>
