<div id="pinsList">
<% if (map) { %>
  <a id="backBtnAllMap" class="btn btn-outline-secondary" href="/maps">Back</a>
  <h3 class="h6 mt-3"><%= map[0].title %></h3>
  <% if(userid) { %>
    <button id="deleteMap" type="button" data-mapid="<%= map[0].id %>">Delete</button>
    <a id="updateMap" href="/maps/<%= map[0].id %>" type="button" data-mapid="<%= map[0].id %>">Edit</a>
  <% } %>
  <ul class="nav flex-column">
    <% if (pins) { %>
      <% pins.forEach((pin) => { %>
        <li id="<%= pin.id %>" class="d-flex py-3">
          <img class="pe-2" width="75" height="75" src="<%= pin.image_url %>" />
          <div>
            <h6><a href="/pins/<%= pin.id %>" data-pinid="<%= pin.id %>"><%= pin.title %></a></h6>
            <p><%= pin.description %></p>
          </div>
        </li>
      <% }); %>
    <% } %>
  </ul>
  <!-- Delete and Update CTAs here -->
<% } else { %>
  No map found
<% } %>
</div>
