<div id="pinSingle">
  <% if (pin) { %>
    <% pin.forEach((pin) => { %>
      <a id="backBtnMap" class="btn btn-outline-secondary" href="/maps/<%= pin.map_id %>">Back to map</a>
      <div id="<%= pin.id %>" class="d-flex py-3">
        <img class="pe-2" width="75" height="75" src="<%= pin.image_url %>" />
        <div>
          <h4><%= pin.title %></h4>
          <p><%= pin.description %></p>
        </div>
      </div>
    <% }); %>
  <% } %>
</div>