<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_head') %>
  <body>
    <div id="mapSingle">
      <%- // include('../pins/pin') %>
      <%- include('../pins/list') %>

      <% if (userid) { %>
        <%- // include('form-new') %>
        <%- // include('form-update') %>
      <!-- <nav class="nav">
          <a id="deleteMap" class="nav-link nav-item" href="/maps/delete" id="deleteMap">Delete Map</a>
          <a id="updateMap" class="nav-link nav-item" href="/maps/update"
            aria-controls="collapseEditMap">
            Edit Map
          </a>
        </nav> -->
      <% } %>
          
    </div>
  </body>
</html>